# Общее поведение — LF
* text=auto eol=lf

# Явно указать текстовые файлы
*.go text
*.mod text
*.sum text
*.md text
*.yaml text
*.yml text
*.sh text eol=lf
*.bat text eol=crlf

# Игнорировать преобразования для бинарников
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary
*.pdf binary
