# IDE
.idea/
.vscode/

# Конфигурации
.env*
*.env
!.env.example  # Пример конфига можно коммитить

# Артефакты сборки
*.out
*.log
*.test
**/bin/
**/debug/
*.exe

# Go specific
vendor/
go.work
go.work.sum

# Кеш линтера и тестов
.golangci-lint.cache
coverage.*
*.cover
*.prof

# Временные файлы
*.tmp
*.swp
*.swo
/tmp/
/temp/
/.tmp/

# Локальные данные
/data/
/var/
subscribers.json

# Docker
docker-compose.override.yml

# Системные файлы
.DS_Store
Thumbs.db
ehthumbs.db

# Terraform
.terraform/
terraform.tfvars